<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>item</key>
	<dict>
		<key>name</key>
		<string>section</string>
		<key>description</key>
		<string>a section of the document. this is not equivalent to a div tag: it is a manuscript segment object.</string>
		<key>categories</key>
		<array>
			<string>structure</string>
		</array>
		<key>icon</key>
		<string>section.png</string>
	</dict>
</dict>
</plist>
