<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>item</key>
	<dict>
		<key>name</key>
		<string>aside</string>
		<key>description</key>
		<string>an out-of-context factoid of related interest</string>
		<key>categories</key>
		<array>
			<string>structure</string>
			<string>flow</string>
		</array>
		<key>icon</key>
		<string>aside.png</string>
	</dict>
</dict>
</plist>
