<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>item</key>
	<dict>
		<key>name</key>
		<string>base</string>
		<key>description</key>
		<string>a base reference URL for the entire document</string>
		<key>categories</key>
		<array>
			<string>head</string>
		</array>
		<key>icon</key>
		<string>base.png</string>
	</dict>
</dict>
</plist>
